html
    body
        h1 #{title}
        table
            each user in users
                tr
                    th id
                    th #{user.id}
                tr
                    th email
                    th #{user.email}
                tr
               
